body {
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
}

#area-img {
	width: 174px;
	
}

#area-img img{
	opacity: 0;
	position: absolute;
}

#area-img img.selected {
	opacity: 1;
}